@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --White: hsl(0, 0%, 100%);
    --Light-pink: hsl(275, 100%, 97%);
    --Pink: #ad28eb;
    --Grayish-purple: hsl(292, 16%, 49%);
    --Dark-purple: hsl(292, 42%, 14%);
}

h1 {
    color: var(--Dark-purple);
    font-size: 50px;
}

hr {
    border: none;
    height: 1px;
    background-color: rgb(239, 239, 239);
    margin: 22px auto;
}

body {
    font-family: "Work Sans", sans-serif;
    background-color: var(--Light-pink);
    width: 100%;
    background-image: url("./assets/images/background-pattern-desktop.svg");
    background-position: cover;
    background-repeat: no-repeat;
}

.container {
    width: 600px;
    margin: 165px auto;
    padding: 55px 40px 20px;
    background-color: white;
    border-radius: 12px;
}

/* Heading section */
.heading {
    display: flex;
    align-items: center;
    gap: 26px;
}

.heading img {
    height: 36px;
}

/* Questions section */
.questions {
    margin: 25px auto;
}

.question {
    font-weight: 600;
    transition: 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.question:hover {
    color: var(--Pink);
}

/* Answer section */

article {
    color: var(--Grayish-purple);
    font-size: 16px;
    margin-top: 20px;
    line-height: 1.5rem;
    display: none;
}